$accent-color: #ff9a00;
$dark-accent-color: #9b5d00;
$main-color: #ffffff;
$secondary-color: #000000;
$secondary-text-color: #707070;
$light-text-color: #eeeeee;
$bg-footer-color: #1b1b1b;
$bg-main-color: #1f1f1f;
$bg-main-color-transparent: rgba(0, 0, 0, 0.7);
$bg-main-color-transparent-dark: rgba(0, 0, 0, 0.9);
$viber-color: #7360F2;
$tg-color: #2AABEE;
$inst-color: #F77737;
$facebook-color: #4267B2;
$attention: #FA8072