@import "mixins";
@import "colors";

.menu {
  width: 100%;
  @include flex($dir: column);

  @include respond(laptop) {
    @include flex()
  }

  &--accent {
    color: $accent-color
  }

  &__item {
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $accent-color;
    }
  }
}